<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Youtube Quiz</title>

  <!-- Bootstrap Core CSS -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../assets/grayscale.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>


<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2"><body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"

          <p id="notice"><%= notice %></p>

          <p>
            <strong>Descricao:</strong>
            <%= @test_set.description %>
          </p>

          <p>
            <strong>Id do video:</strong>
            <%= @test_set.video_url %>
          </p>

          <p>
            <strong>Score:</strong>
            <%= @test_set.score %>
          </p>

          <p>
             Numero de perguntas: <%= @test_set.test_ids.count %>
          </p>

          <p>
            <%= link_to 'Criar nova pergunta para esse quiz', "/tests/new2/#{@test_set.id}
" %> |
            <%= link_to 'Editar esse quiz', edit_test_set_path(@test_set) %> |
            <%= link_to 'Perguntas', "/test_set/#{@test_set.id}/tests" %> |
            <%= link_to 'Voltar', "/" %>
          </p>

        </div>
      </div>
    </div>
  </div>
</header>



        </body>
