<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Descricao" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Pergunta" %><br>
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label "Primeira Alternativa" %><br>
    <%= f.text_area :alternative1 %>
  </div>
  <div class="field">
    <%= f.label "Segunda Alternativa" %><br>
    <%= f.text_area :alternative2 %>
  </div>
  <div class="field">
    <%= f.label "Terceira Alternativa" %><br>
    <%= f.text_area :alternative3 %>
  </div>
  <div class="field">
    <%= f.label "Quarta Alternativa" %><br>
    <%= f.text_area :alternative4 %>
  </div>
  <div class="field">
    <%= f.label "Alternativa Correta" %><br>
    <%= radio_button_tag(:answer, 0) %>
    <%= label_tag(:answer_0, "Primeira") %>
    <%= radio_button_tag(:answer, 1) %>
    <%= label_tag(:answer_1, "Segunda") %>
    <%= radio_button_tag(:answer, 2) %>
    <%= label_tag(:answer_2, "Terceira") %>
    <%= radio_button_tag(:answer, 3) %>
    <%= label_tag(:answer_3, "Quarta") %>
  </div>
  <div class="field">
    <%= f.label "Link pro video" %><br>
    <%= f.text_field :video_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
