<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Pergunta" %><br>
    <%= f.text_area :question, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label "Primeira Alternativa" %><br>
    <%= f.text_area :alternative1, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label "Segunda Alternativa" %><br>
    <%= f.text_area :alternative2, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label "Terceira Alternativa" %><br>
    <%= f.text_area :alternative3, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label "Quarta Alternativa" %><br>
    <%= f.text_area :alternative4, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label "Alternativa correta" %><br>
    <%= f.label :answer, "Primeira", :value => 1  %>
    <%= f.radio_button :answer, 1 %>
    <%= f.label :answer, "Segunda", :value => 2 %>
    <%= f.radio_button :answer, 2 %>
    <%= f.label :answer, "Terceira", :value => 3 %>
    <%= f.radio_button :answer, 3 %>
    <%= f.label :answer, "Quarta", :value => 4 %>
    <%= f.radio_button :answer, 4 %>
  </div>
  <div class="field">
    <%= f.label "Tempo de inicio da questao" %><br>
    <%= f.time_select :time, {},{class: 'btn btn-default '}%>
  </div>

  <% if @test.test_set_id.nil? %>
  <div class="field">
    <%= f.label :test_set_id %><br>
    <%= f.text_field :test_set_id %>
  </div>

  <% else %>
   <div class="field">
    <%= f.hidden_field :test_set_id, value:@test.test_set_id %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'ENVIAR', class: 'btn btn-default btn-lg'%>
  </div>
<% end %>
