<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Youtube Quiz</title>

  <!-- Bootstrap Core CSS -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../assets/grayscale.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2"><body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
          <p id="notice"><%= notice %></p>

          <h1>Perguntas</h1>

          <table>
            <thead>
              <tr>
                <td><h5>Resposta</h5></td>
                <td><h5>Tempo</h5></td>
              </tr>
            </thead>
            <tbody>
              <% @tests.each do |test| %>
                <tr>
<style type="text/css">
td
{
    padding:0 60px 0 60px;
}
</style>


                  <td><%= test.answer %></td>
                  <td><%= test.time.hour %>:<%= test.time.min %>:<%= test.time.sec %></td>
                  <td><%= link_to 'Editar',  "/test_set/#{@test_set.id}/tests/#{test.id}/edit"%></td>
                  <td><%= link_to 'Remover', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'Nova pergunta',"/test_set/#{@test_set.id}/tests/new" %>
        </div>
      </div>
    </div>
  </div>
</header>

        </body>

